$line-width: 6px;
$line-color: $main-color-1;
$line-opacity: 1;

.hamburger {
    width: 40px;
    height: 30px;
    position: fixed;
    top: 25px;
    right: 30px;
    cursor: pointer;
    &__half-line {
        display: block;
        position: absolute;
        height: $line-width;
        width: 50%;
        background: $line-color;
        opacity: $line-opacity;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(even) {
            left: 50%;
            // border-radius: 0 9px 9px 0;
        }
        &:nth-child(odd) {
            left:0px;
            // border-radius: 9px 0 0 9px;
        }
        &:nth-child(1), &:nth-child(2) {
            top: 0;
        }
        &:nth-child(3), &:nth-child(4) {
            top: 2 * $line-width;
        }
        &:nth-child(5), &:nth-child(6) {
            top: 4 * $line-width;
        }
    }
    &.open &__half-line{
        &:nth-child(1){
            left: 3px;
            top: 5px;
            transform: rotate(45deg)
        }
        &:nth-child(2){
            left: calc(50% - 3px);
            top: 5px;
            transform: rotate(-45deg);
        }
        &:nth-child(3){
            left: -50%;
            opacity: 0;
        }
        &:nth-child(4){
            left: 100%;
            opacity: 0;
        }
        &:nth-child(5){
            left: 3px;
            top: 19px;
            transform: rotate(-45deg);
        }
        &:nth-child(6){
            left: calc(50% - 3px);
            top: 19px;
            transform: rotate(45deg)
        }
    }
}